<div class="container">

    <nav>
        <h3 class="profile"></h3>
        <ul>
            <li><a href="/"><i class="fa-solid fa-xl fa-arrows-rotate"></i></a></li>
            <form action="/logout" method="get">
                <li><button type="submit" class="logout"><i class="fa-regular fa-2xl fa-circle-xmark"></i></button></li>
            </form>
        </ul>
    </nav>

    <div class="chatUI">
        <div class="chats">
        </div>
        <form class="uploadMessage" action="/postMessage" method="post">
            <input type="text" name="text" id="text">
            <button type="submit">Enter</button>
        </form>
    </div>
</div>
<script src="script/app.js"></script>